body {
  background-image: url(https://images.pexels.com/photos/1459/street-car-vehicle-blur.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.questions {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: white;
}

#entryLog {
  color: white;
}

.journalEntry {
  border: 1px solid mediumaquamarine;
}

h4 {
  text-align: center;
  color: white;
}

legend {
  color: mediumaquamarine;
  font-size: 2rem;
}

input, select, textarea{
  color: white;
}

.btn {
  display:block;
  text-align: center;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}





